<div class="app-card-container">
  <div class="card cch">
    <h1>Contact me at</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6">
        <h3>Work Address</h3>
        
        <p>1809 W State Rd, Pleasant Grove, UT 84062</p>
        
        <h3>Phone</h3>
        
        <p><%= number_to_phone "8018360378" %></p>
        
        <h3>Email</h3>
        
        <p class="dec-link"><a href="mailto:ianl8472@gmail.com?subject=PorfolioContact" "email me">Email Me</a> </p>
      </div>
      
      <div class="col-md-6">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.7988153062606!2d-111.76869628460558!3d40.368985079370674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d83fe6dd28705%3A0xf216abff6b9d6beb!2s1809+W+State+Rd%2C+Pleasant+Grove%2C+UT+84062!5e0!3m2!1sen!2sus!4v1499706826309" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
      </div>
    </div>
  </div>
</div>