<div class="inner cover">
  <h1 class="cover-heading cch">Welcome.</h1>
  <p class="lead cch">"If you change the way you look at things, the things you look at change." -Unknown</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>